body {
            background-color: #f8f9fa;
            font-family: 'Segoe UI', sans-serif;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .login-card {
            width: 100%;
            max-width: 420px;
            padding: 40px;
            border: none;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.05);
            background: #fff;
        }
        .logo-box {
            width: 50px;
            height: 50px;
            background-color: #2e7d32;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px;
            color: white;
            font-size: 24px;
        }
        .form-label {
            font-weight: 600;
            color: #495057;
            font-size: 0.9rem;
        }
        .input-group-text {
            background-color: #f8f9fa;
            border-right: none;
            color: #adb5bd;
            border-radius: 10px 0 0 10px;
        }
        .form-control {
            background-color: #f8f9fa;
            border-left: none;
            padding: 12px;
            border-radius: 0 10px 10px 0;
            font-size: 0.95rem;
        }
        .form-control:focus {
            background-color: #f8f9fa;
            box-shadow: none;
            border-color: #dee2e6;
        }
        .btn-login {
            background-color: #2e7d32;
            border: none;
            padding: 12px;
            border-radius: 10px;
            font-weight: 600;
            transition: 0.3s;
        }
        .btn-login:hover {
            background-color: #246227;
        }
        .text-link {
            color: #2e7d32;
            text-decoration: none;
            font-weight: 600;
            font-size: 0.9rem;
        }
        .leaf-btn{
        width:80px;
        height:80px;
        background:#d3eadc;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content:center;
        margin:0 auto 20px;
        }
        
        .leaf-btn i{
            font-size:38px;
            color:#2e7d32;
            transform: translateX(-2px);
        }